@charset "utf-8";
/*wrapper(大枠)*/
#wrapper {
    width: 1200px;
    height: auto;
    margin: 0px auto;
    background-color: #fff;
    overflow: hidden;
}
/*ページの一番上に戻る*/
#page-top {
    width: 50px;
    height: 50px;
    background-color: #030304;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
/*ページの一番上に戻る(文字)*/
#page-top p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    color: #92e5fe;
    text-align: center;
}

/*フッター(文字のカラー変更)*/
footer {
    color: #b0c4de;
}
/*上記は消さないようにする*/
/*画像の上に文字*/
#contents {
    height: 80px;
    width: 500px;
    /*background-color: rgba(0,0,255,0.1);*/
    padding: 10px;
    color: #fff;
    position: fixed;
    top: 440px;
    right: 270px;
    /*text-align: center;*/
}
#main-image {
    margin: 10px;
    width: 800px;
    height: 400px;
    float: left;
    background-color: #b0c4de;
    /*overflow: hidden;
    position: relative;*/
}
#main-image img {
    /*width: auto;*/
    /*height: 400px;*/
}
#side_bar {
    width: 370px;
    margin-top: 10px;
    margin-right: 10px;
    height: 400px;
    float: right;
    /*background-color: #a0522d;*/
}
#side_bar ul {
    width: 350px;
    padding: 0 0 0 10px;
}
#side_bar li {
    border-bottom:dotted 1px #a9a9a9;
    list-style: none;
    font-size: 19px;
}
.clear_box {
    clear: both;
}
#info {
    width: 370px;
    margin-top: 10px;
    margin-right: 10px;
    height: 400px;
    float: right;
}
.btn3 {
    font-size: 30px;
    border-bottom:dotted 1px #a9a9a9;
}
.btn3 a {
    text-decoration: none;
}

h2 {
    padding-bottom: .5em;
	border-bottom: 3px double #ccc;
}
#contetnt {
    width: 780px;
    margin: 0 0 0 10px;
}
