@charset "utf-8";
/*wrapper(大枠)*/
#wrapper {
    width: 1200px;
    height: auto;
    margin: 0px auto;
    background-color: #fff;
    overflow: hidden;
}
/*ページの一番上に戻る*/
#page-top {
    width: 50px;
    height: 50px;
    background-color: #030304;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
/*ページの一番上に戻る(文字)*/
#page-top p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    color: #92e5fe;
    text-align: center;
}
/*画像*/
#wrapper #main-imaage {
    width: 1200px;
    height: 400px;
}
/*お知らせ*/
#wrapper #info {
    width: 900px;
    height: 300px;
    margin: 20px 0px 30px 0px;
    float: right;
}
#wrapper #info h2 {
    width: 850px;
    height: 50px;
    line-height: 50px;
    margin: 0px;
    padding: 0px 0px 0px 10px;
    color: #92e5fe;
    background-color: #28a6cc;
}
/*お知らせの中*/
#wrapper #info div {
    width: 858px;
    height: 249px;
    border: 1px solid #408ca3;
}
#wrapper #info div p {
    font-size: 23px;
    padding: 0px 0px 0px 20px;
    text-decoration: underline;
}
/*categoryの中身*/
#wrapper #category {
    float: left;
    width: 220px;
    margin: 20px 0px 30px 30px;
    border: 1px solid #408ca3;
}
#wrapper #category li {
    width: 150px;
    height: 85px;
    line-height: 85px;
    color: #394548;
}
/*回り込み解除*/
.clear_box {
    clear: both;
}
/*ボックスを表示する枠*/
#content {
    margin-right: 20px;
    padding-top: 20px;
    width: 880px;
    height: 220px;
    float: right;
}
/*表示するボックスサイズ・色・左詰めなど*/
#content .box {
    width: 200px;
    float: left;
    height: 200px;
    background-color: #408ca3;
    margin-right: 20px;
}
/*フッター(文字のカラー変更)*/
footer {
    color: #b0c4de;
}
